.container_center{
    text-align: center;
    margin: 10% 0 0 ;

    h1{
        text-align: center;
    }


    .container_text{
        color: #FFFFFF;
        width: 100%;
        text-align: center;
        padding: 10% 0 0;


        p{
            width: 60%;
            position: relative;
            left: 20%;
            margin: 0 0 0;
        }
    }


    .container_btn{
        padding: 10% 0 0;
    }



    .btn_who{
        padding: 20px 70px 20px;
        border-radius: 15px;
        background-color: #AA2B33;
        border: none;
    }

}